.header{
  width: 100%;
  max-width: 100vw;
  min-height: 118px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.left-header{
  height: 118px;
  width: 15%;
  display: flex;
  flex-direction: column;
  .top-left-header{
    background-color: #ffc522;
    height: auto;
    min-height: 7px;
    min-width: 100%;
  }
  .bottom-left-header{
    padding-left: 50px;
    display: flex;
    background-color: #DF1836;
    height: auto;
    width: auto;
    min-height: 111px;
    min-width: 100%;

    .logo-header-jolliebee{
      height: 100%;
      width: 13%;
      display: flex;
      align-items: center;
      img{
        margin: 10px 0px;
        height: 90px;
        max-width:90px;
        max-height: none;
      }
    }
    }
  }

.middle-header {
  height: 118px;
  width: 50%;
  display: flex;
  flex-direction: column;

  .top-middle-header {
    background-color: #ffc522;
    height: 34px;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    .left-top-middle-header{
      height: 34px;
      min-width: 80%;
      .top-left-top-middle-header{
        background-color: #ffc522;
        height: auto;
        min-height: 7px;
        min-width: 100%;
      }
      .bottom-left-top-middle-header{
        background-color: #DF1836;
        height: auto;
        min-height: 27px;
        min-width: 100%;
      }
    }
    .right-top-middle-header{
      height: 34px;
      min-width: 20%;
    }
  }

  .bottom-middle-header {
    background-color: #DF1836;
    height: auto;
    width: auto;
    min-height: 84px;
    min-width: 100%;
    .textbox-bottom-middle-header{
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      height: 100%;
      width: 100%;
      .text-bottom-middle-header{
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40%;
        width: 80%;
        font-weight: bold;
        font-size: 11px;
        margin-right: 3px;
        cursor: pointer;
      }
      .text-bottom-middle-header:hover{
        color: #DF1836;
        background-color: #f4d2d6;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }
  }
}}

  .right-header {
    height: 118px;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .top-right-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      background-color: #ffc522;
      max-height: 34pxpx;
      min-width: 100%;

      .language {
        align-items: center;
        display: flex;
        height: 34px;
        flex-direction: row;
        justify-content: center;
        margin-right: 30px;

        .VN {
          display: flex;
          flex-direction: row;
          padding-right: 10px;
          border-right: 1px solid #DF1836;
          cursor: pointer;

          .flag {
            img {
              min-height: 19px;
              min-width: 19px;
              margin-right: 5px;
            }
          }

          span {
            display: flex;
            align-items: center;

            a {
              font-size: 13px;
              text-decoration: none;
              color: black;
              font-weight: bold;
            }

            a:hover {
              text-decoration: underline;
              color: #DF1836;
            }

          }
        }

        .EN {
          display: flex;
          flex-direction: row;
          padding-left: 10px;
          cursor: pointer;

          .flag {
            img {
              min-height: 19px;
              min-width: 19px;
              margin-right: 5px;
            }
          }

          span {
            display: flex;
            align-items: center;

            a {
              font-size: 13px;
              text-decoration: none;
              color: black;
              font-weight: bold;
            }

            a:hover {
              text-decoration: underline;
              color: #DF1836;
            }
          }
        }

      }

      .location {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 5px;
        cursor: pointer;
        margin-right: 30px;

        .icon-location {
          margin-right: 5px;

          .material-symbols-outlined {
            font-size: 20px;
          }
        }

        span {
          display: flex;
          align-items: center;
          font-size: 13px;
          font-weight: bold;
        }
      }

      .login-signup {
        display: flex;
        flex-direction: row;
        justify-content: center;
        cursor: pointer;

        .logo-login {
          display: flex;
          align-items: center;
          margin-right: 5px;
        }

        a {
          display: flex;
          align-items: center;
          font-size: 13px;
          text-decoration: none;
          color: black;
          font-weight: bold;
        }

        a:hover {
          text-decoration: underline;
        }

        .line {
          margin: 0 5px;
        }
      }
    }

    .bottom-right-header {
      background-color: #DF1836;
      height: auto;
      width: auto;
      min-height: 84px;
      min-width: 100%;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: flex-end;
      padding: 0 50px;

      .button-pick-up {
        cursor: pointer;
        min-width: 120px;
        min-height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        background-color: #ffc522;
        margin-right: 30px;

        span {
          font-size: 18px;
          font-weight: bolder;
          color: black;
        }
      }

      img {
        max-width: 123px;
        max-height: 40px;
      }
    }
  }


