<div class="footer">
  <div class="top-footer">
    <div class="top-left-footer">
      <div class="logo-left-footer">
        <img src="https://jollibee.com.vn/static/version1754323050/frontend/Jollibee/default/vi_VN/images/logo.png" alt="">
      </div>
      <div class="company-left-footer">
        <p>CÔNG TY TNHH JOLLIBEE VIỆT NAM

        </p>
        <p>Địa chỉ: Tầng 26, Tòa nhà CII Tower, số 152 Điện Biên Phủ, Phường 25, Quận Bình Thạnh, Thành
          phố
          Hồ Chí Minh, Việt Nam

        </p>
        <p>Điện thoại: (028) 39309168

        </p>
        <p>Tổng đài: <a href="">1900-1533</a>

        </p>
        <p>Mã số thuế: 0303883266

        </p>
        <p>Ngày cấp: 15/07/2008 – Nơi cấp: Cục Thuế Hồ Chí Minh

        </p>
      </div>
    </div>
    <div class="top-middle-footer">
      <img src="https://jollibee.com.vn/media/wysiwyg/delivery-lg-rs.png" alt="">
      <div class="list">
        <a href="">Liên hệ</a>
        <a href="">Chính sách và quy định chung</a>
        <a href="">Chính sách và quy định chung</a>
        <a href="">Chính sách hoạt động</a>
        <a href="">Chính sách bảo mật thông tin</a>
        <a href="">Thông tin vận chuyển và giao nhận</a>
        <a href="">Thông tin đăng ký giao dịch chung</a>
        <a href="">Hướng dẫn đặt phần ăn</a>

      </div>
    </div>
    <div class="top-right-footer">
      <span>HÃY KẾT NỐI VỚI CHÚNG TÔI</span>
      <div class="facebook-top-right-footer"><img src="https://jollibee.com.vn/media/wysiwyg/icon-fb.png"
                                                  alt=""><a href="">Facebook

      </a></div>
      <img class="notice" src="https://jollibee.com.vn/media/wysiwyg/bocongthuong.png" alt="">
      <div class="line"></div>
      <span>TẢI ỨNG DỤNG ĐẶT HÀNG VỚI NHIỀU ƯU ĐÃI HƠN</span>
      <div class="app">
        <img src="https://jollibee.com.vn/media/jollibee/logo_playstore.png" alt="">
        <img src="https://jollibee.com.vn/media/jollibee/logo_appstore.png" alt="">
      </div>
    </div>
  </div>

  <div class="bottom-footer">© 2020 Jollibee Viet Nam</div>
</div>
