<body>
<div class="header">
  <div class="left-header">
    <div class="top-left-header"></div>
    <div class="bottom-left-header">
      <div class="logo-header-jolliebee">
        <img src="https://jollibee.com.vn/static/version1754323050/frontend/Jollibee/default/vi_VN/images/logo.png" alt="">
      </div>
      <div class="textbox-bottom-left-header">
        <span class="text-bottom-left-header">TRANG CHỦ</span>
        <span class="text-bottom-left-header">VỀ JOLLIBEE</span>
        <span class="text-bottom-left-header" style="color: #DF1836; background-color: #f4d2d6;  border-top-left-radius: 8px; border-top-right-radius: 8px;">THỰC ĐƠN</span>
        <span class="text-bottom-left-header">KHUYẾN MÃI</span>
        <span class="text-bottom-left-header">DỊCH VỤ</span>
        <span class="text-bottom-left-header">TIN TỨC</span>
        <span class="text-bottom-left-header">CỬA HÀNG</span>
        <span class="text-bottom-left-header">LIÊN HỆ</span>
        <span class="text-bottom-left-header">TUYỂN DỤNG</span>
      </div>
    </div>
  </div>
  <div class="middle-header">
    <div class="top-middle-header">
      <img src="https://jollibee.com.vn/static/version1754323050/frontend/Jollibee/default/vi_VN/images/bg-header.png">
    </div>
    <div class="bottom-middle-header">

    </div>
  </div>
  <div class="right-header">
    <div class="top-right-header">
      <div class="language">
        <div class="VN">
          <div class="flag"><img src="https://jollibee.com.vn/static/version1754323050/frontend/Jollibee/default/vi_VN/images/flag-vn.png" alt=""></div>
          <span> <a href="" style="color: #DF1836; text-decoration: none">VN</a> </span>
        </div>
        <div class="EN">
          <div class="flag"><img src="https://jollibee.com.vn/static/version1754323050/frontend/Jollibee/default/vi_VN/images/flag-en.png" alt=""></div>
          <span><a href="">EN</a></span>
        </div>
      </div>
      <div class="location">
        <div class="icon-location"><span class="material-symbols-outlined">
          explore_nearby</span></div>
        <span>HỒ CHÍ MINH</span>
      </div>
      <div class="login-signup">
        <div class="logo-login"><img src="https://jollibee.com.vn/static/version1754323050/frontend/Jollibee/default/vi_VN/images/icon-user.png" alt=""></div>
        <a href="">ĐĂNG KÍ</a>
        <div class="line">/</div>
        <a href="">ĐĂNG NHẬP</a>
      </div>
    </div>
    <div class="bottom-right-header">
      <div class="button-pick-up"><span>PICK UP</span></div>
      <img src="https://jollibee.com.vn/media/wysiwyg/delivery-lg-rs.png">
    </div>
  </div>
</div>
</body>

